* {
    margin: auto;
}
.conteudoCursos {
    padding: 10px;
}
.videoaula1 p, .videoaula2 p {
    line-height: 70px;
    font-weight: bold;
    font-size: 25px;

    letter-spacing: 5px;
}
.videoaula2 {

    margin-top: 40px;
    border-top: 3px black solid;
}
.botao a {
    text-align: center;
    float: right;
    height: 50px;
    display: block;
    text-decoration: none;
    padding-top: 15px;
    background-color: #cc2323;
    width: 150px;
    color: white;
    box-shadow: 5px 5px 10px black;
    transition: 0.3s;
}
.botao a:hover {
    background-color: black;
}
.questionario a{
    float: left;
    transition: 0.3s;
    height: 50px;
    display: block;
    text-decoration: none;
    padding-top: 15px;
    border-radius: 20px;
    background-color: #1b469c;
    width: 100px;
    color: white;
    box-shadow: 5px 5px 10px black;
}
.questionario a:hover {
    background-color: black;
}

.video {
    margin-right: 10px;
    height: 350px;
    width: 430px;
}

.foto {
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    float: right;
    height: 100px;
    width: 100px;
    border-radius: 100px;
}




