.conteudoCursos p{
    margin-top: 25px;
    font-size: 1.5em;
    text-align: center;
}
* {
    margin: auto;
}
.videoaula1, .videoaula2 {
    text-align: center;
}
.videoaula1, .videoaula2 div {

}
.videoaula1 p, .videoaula2 p {
    line-height: 70px;
    font-weight: bold;
    font-size: 25px;

    letter-spacing: 5px;
}
.videoaula2 {

    margin-top: 40px;
    border-top: 3px black solid;
}
.voltar a{
    float: left;
    transition: 0.3s;
    height: 50px;
    display: block;
    text-decoration: none;
    padding-top: 15px;
    border-radius: 20px;
    background-color: #cc2323;
    width: 100px;
    color: white;
    box-shadow: 5px 5px 10px black;
}
.voltar a:hover {
    background-color: black;
}
.botao a {
    float: right;
    height: 50px;
    display: block;
    text-decoration: none;
    padding-top: 8px;
    border-radius: 20px;
    background-color: #cc2323;
    width: 100px;
    color: white;
    box-shadow: 5px 5px 10px black;
    transition: 0.3s;
}
.botao a:hover {
    background-color: black;
}
.questionario a{
    float: left;
    transition: 0.3s;
    height: 50px;
    display: block;
    text-decoration: none;
    padding-top: 15px;
    border-radius: 20px;
    background-color: #1b469c;
    width: 100px;
    color: white;
    box-shadow: 5px 5px 10px black;
}
.questionario a:hover {
    background-color: black;
}
